<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <i class="fa-solid fa-users-gear"></i>
        <!-- <img width="60px" src="https://miro.medium.com/v2/resize:fit:720/1*XpILia8PcALYfxlm9P_NzQ.jpeg" alt=""> -->
      <a class="navbar-brand" id="heading" href="#">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active mx-4" aria-current="page"  routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-4" routerLink="mainComponent/viewEmployeeDetails">View Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-4" routerLink="mainComponent/addEmployee">Add Employee</a>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-right-from-bracket mx-4"></i>
          </li>
         
        </ul>
       
      </div>
    </div>
  </nav>
