<div class="container-fluid">
    <br><br>
    <div class="row">

        <!-- <div class="col-6">
        </div> -->

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <img width="250px" height="250px" [src]="employees.Photourl" alt="">
                    <br><br>
                    
                    <!-- <h5 class="card-title span-class" style="margin-left: 30px;">{{employees.name}}</h5> -->
                    <p class="card-text"></p>
                    <span class="span-class" style="margin-left: 85px; font-size: 23px;">{{employees.name}}</span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="span-class">Email : </span>{{employees.email}}</li>
                    <li class="list-group-item"><span class="span-class">Phone : </span> {{employees.mobile}}</li>
                    <li class="list-group-item"><span class="span-class">Department : </span>{{dpmtName}}</li>
                    <li class="list-group-item"><span class="span-class">Blood Group : </span>{{employees.bloodgroup}}</li>
                    <li class="list-group-item"><span class="span-class">Date Of Birth : </span>{{employees.dateOfBirth}}</li>
                    <li class="list-group-item"><span class="span-class">Designation : </span>{{employees.designation}}</li>
                    <li class="list-group-item"><span class="span-class">Gender : </span>{{genderName}}</li>
                    <li class="list-group-item"><span class="span-class">Date Of Joining : </span>{{employees.dateOfJoining}}</li>
                    
                </ul>
                <br><br>
    
                
    
            </div>
        </div>
       
    </div>
    <br><br>
</div>
